<div class="project-card">
    <div class="header">
        <div class="header-top">
            <p class="title" (click)="onHeaderClick()">{{project.title}}</p>
            <app-button text="Add Task"></app-button>
        </div>
        <div class="header-line" [ngClass]="showingDetails ? 'showing' : 'hiding'"></div>
    </div>
    <div *ngIf="showingDetails" class="details">
        <div class="tasks">
            <app-task-card *ngFor="let task of project.tasks" [task]="task" class="task"></app-task-card>
        </div>
    </div>
</div>