<div class="task-card">
    <div class="header" (click)="onHeaderClick()">
        <p class="title">{{task.title}}</p>
    </div>
    <div *ngIf="showingDetails" class="costs">
        <div class="cost">
            <p class="cost-title">Material</p>
            <p class="dollar-amount">${{task.costs.material}}</p>
        </div>
        <div class="cost">
            <p class="cost-title">Labor</p>
            <p class="dollar-amount">${{task.costs.labor}}</p>
        </div>
        <div class="cost">
            <p class="cost-title">All Inclusive</p>
            <p class="dollar-amount">${{task.costs.allInclusive}}</p>
        </div>
    </div>
</div>
