.header {
    cursor: pointer;
    margin-bottom: 10px;
}

.task-card {
    font-size: 14px;
    font-weight: 400;
}

.costs {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-bottom: 25px;
}