#wrapper {
    box-sizing: border-box;
    height: 100%;
}

#header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 10px 0;
    background-color: rgba(22, 22, 22, 0.874);
    color: #fff;
}

#title {
    display: inline-block;
}

#page-icon {
    margin-left: auto;
    color: #FFC700;
}

#content {
    margin-top: 25px;
    padding-bottom: 25px !important;
}

#locations {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

// mobile
@media screen and (max-width: 480px) {
    #header {
        padding: 12px 50px 12px 50px;
    }

    #content {
        padding: 0 25px;
    }
}

// desktop
@media screen and (min-width: 480px) {
    #header {
        padding: 12px 50px 12px 50px;
    }

    #content {
        padding: 0 50px;
    }
}