#wrapper {
    box-sizing: border-box;
    height: 100%;
}

#header {
    display: flex;
    align-items: center;
}

#title {
    display: inline-block;
}

#page-icon {
    margin-left: auto;
    color: #FFC700;
}

#content {
    margin-top: 25px;
}

#locations {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

// mobile
@media screen and (max-width: 480px) {
    #wrapper {
        padding: 25px 25px;
    }
}

// desktop
@media screen and (min-width: 480px) {
    #wrapper {
        padding: 25px 50px;
    }
}