#wrapper {
    box-sizing: border-box;
    height: 100%;
}

#header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    padding-top: 25px;
    background-color: rgba(255, 255, 255, 0.95);
}

#title {
    display: inline-block;
}

#page-icon {
    margin-left: auto;
    color: #FFC700;
}

#content {
    margin-top: 25px;
    padding-bottom: 25px !important;
}

#locations {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

// mobile
@media screen and (max-width: 480px) {
    #header {
        padding: 25px 50px 0 50px;
    }

    #content {
        padding: 0 25px;
    }
}

// desktop
@media screen and (min-width: 480px) {
    #header {
        padding: 25px 50px 0 50px;
    }

    #content {
        padding: 0 50px;
    }
}