<div class="location-card">
    <div class="header">
        <h2 class="location-address" (click)="onHeaderClick()">{{location.location}}</h2>
        <app-button *ngIf="showingProjects" text="Add Project"></app-button>
    </div>
    <div *ngIf="showingProjects" class="line"></div>
    <div *ngIf="showingProjects" class="details">
        <div class="projects">
            <app-project-card class="project-card" *ngFor="let project of location.projects" [project]="project"></app-project-card>
        </div>
    </div>
</div>