.location-card {
    border: .25px solid #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    border-radius: 2px;
    transition: box-shadow 100ms ease-in-out;
}

.location-card:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
}

.header {
    cursor: pointer;
    padding: 10px 25px;
}

.location-address {
    font-size: 15px;
    font-weight: 600;
}

.line {
    height: .25px;
    background-color: #000;
    margin: 0 25px;
}

.details {
    padding: 10px 25px;
}

.projects {
    display: flex;
    flex-direction: column;
}

.project-card {
    padding: 10px 0;
}

// mobile
@media screen and (max-width: 480px) {
    .projects {
        margin-left: 0;
    }
}

// desktop
@media screen and (min-width: 480px) {
    .projects {
        margin-left: 25px;
    }
}