.location-card {
    border: .25px solid #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    border-radius: 2px;
    transition: box-shadow 100ms ease-in-out;
}

.location-card:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
}

.header {
    cursor: pointer;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
}

.location-address {
    font-size: 15px;
    font-weight: 600;
    flex: 1;
}

.line {
    height: .25px;
    background-color: #000;
    margin: 0 25px;
}

.details {
    padding: 10px 25px;
}

.projects {
    display: flex;
    flex-direction: column;
}

.new-project {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.new-project-title {
    margin: 10px 0;
    border: none;
    flex: 1;
    font-size: 15px;
    font-weight: 500;
}

.new-project-title:focus {
    outline: none;
}

.options {
    display: flex;
    column-gap: 25px;
    margin-left: auto;
}

.options > fa-icon {
    font-size: 20px;
    cursor: pointer;
}

.confirm-new-project-button {
    color: #32B988;
}

.cancel-new-project-button,
.validation-error {
    color: #b93275;
}

.validation-error {
    margin-bottom: 10px;
    font-size: 12px;
}

// mobile
@media screen and (max-width: 480px) {
    .projects {
        margin-left: 0;
    }
}

// desktop
@media screen and (min-width: 480px) {
    .projects {
        margin-left: 25px;
    }
}